flask
flask-cors
gunicorn
fastapi
uvicorn
python-docx
pdfplumber
spacy
textstat
nltk
scikit-learn==1.4.2
transformers
torch
sentence-transformers
numpy==1.26.4
pandas
python-dateutil
streamlit
reportlab
requests
python-dotenv
sacrebleu
docling
nougat-ocr
albumentations<2
